.heading{
    font-size: 35px;
    margin: 0px;
    width: 100%;
    box-shadow: 5px 5px 5px gray;
}
.heading_div{
    float: none;
    background: white;
    padding: 10px;
border-radius: 20px;
color: black;
box-shadow: 5px 5px 5px gray;
}
.heading_div2{
    font-size: 23px;
}
.result_para{
    font-size: 20px;
    box-shadow: 5px 5px 5px gray;
    text-align: center;
}
.copy_right_footer{
    position: fixed;
    bottom: 0px;
background-color: grey;
color: white;
font-size: 18px;
text-align: center;

}